<!-- <div *ngIf="movie">
  <h2>{{ movie.title }} details:</h2>
  <div>
    <label>id: </label>{{movie.id}}</div>
  <div>
    <label>title: </label>
    <input [(ngModel)]="movie.title" placeholder="name">
  </div>
  <div>
    <label>Publication year: </label>{{movie.pub_year}}</div>
  <div>
    <label>rating: </label>{{ movie.rating }}</div>
  <div>
    <label>genre: </label>{{ movie.genre }}</div>
  <div>
    <label>duration: </label>{{ movie.duration }}</div>
  <div>
    <label>pg: </label>{{ movie.pg }}</div>
  <div>
    <label>director: </label>{{ movie.director }}</div>
  <div>
    <label>writers: </label>{{ movie.writers }}</div>
  <div>
    <label>description: </label>{{ movie.desc }}</div>
  <div>
    <label>actors: </label>{{ movie.actors }}</div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">Save</button>
</div> -->

<div class="container-fluid">
  <div *ngIf="movie" class="row">
    <div class="col-sm-3 col-md-3"><img src="{{movie.poster}}" class="img-responsive" alt="{{ movie.title }}" width="410" height="307"></div>
    <div class="col-sm-9 col-md-9">
      <h1>{{ movie.title }} details:</h1>
      <div>
        <label>Publication year: </label> {{movie.pub_year}}</div>
      <div>
        <label>Rating: </label> {{movie.rating}}</div>
      <div>
        <label>Genre: </label> {{movie.genre}}</div>
      <div>
        <label>Duration: </label> {{movie.duration}} minutes</div>
      <div>
        <label>PG: </label> {{movie.pg}}</div>
      <div>
        <label>Director: </label> {{movie.director}}</div>
      <div>
        <label>Writers: </label> {{movie.writers}}</div>
      <div>
        <label>Description: </label> {{movie.desc}}</div>
      <div>
        <label>Stars: </label> {{movie.actors}}</div>
      <div>
        <label>Price: </label> {{movie.price}}€</div>
      <br>
      <div *ngIf="auth.isLoggedIn">
        <button *ngIf="!itemIsInWishlist(movie)" class="btn btn-success" (click)="addToWishlist(movie)">Add to Wishlist</button>
        <button *ngIf="itemIsInWishlist(movie)" class="btn btn-danger" (click)="removeFromWishlist(movie)">Remove from Wishlist</button>
        <button *ngIf="!itemIsInCart(movie)" class="btn btn-success" (click)="addToCart(movie)">Add to Cart</button>
        <button *ngIf="itemIsInCart(movie)" class="btn btn-danger" (click)="removeFromCart(movie)">Remove from Cart</button>
      </div>
      <div>
        <button class="btn btn-primary goBack" (click)="goBack()">Go Back</button>
      </div>
    </div>
  </div>
</div>
