.container {
  margin-top: 70px;
}

.btn {
  display: block;
  margin-top: auto;
}

.row {
  border-top: 1px solid #898989FF;
  padding-top: 5px;
}

.subtotal {
	float: right;
}

@media screen and (max-width: 768px) {
  .desc {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}