<div class="container">
  <h1>Shopping Cart</h1>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
      <label>Image</label>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
      <label>Product</label>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label></label>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label>Price</label>
    </div>
  </div>
  <div *ngFor="let item of shoppingCartItems" class="row">
    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
      <div>
        <img src="{{ item.poster }}" class="img-responsive">
      </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5">
      <div>
        <h5>{{ item.title }}</h5>
        <p class="desc">{{ item.desc }}</p>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div>
        <button class="btn btn-danger" (click)="removeItem(item)">
          Remove
        </button>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div>{{ item.price }}€</div>
    </div>
  </div>
  <div class="row">
    <h4 *ngIf="shoppingCartItems.length === 0">Your shopping cart is empty, but it doesn't have to be.</h4>
    <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1"></div>
    <div class="col-xs-4 col-sm-4 col-md-5 col-lg-5"></div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label class="subtotal">Subtotal:</label>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <div>
        <div>
          <div>{{getTotal() | async}}€</div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Checkout</button>
  </div>
</div>
