<style>
.my-pagination /deep/ .ngx-pagination {
  margin: auto;
  width: 100%;
  padding: 0;
  margin: 0;
}

.show-for-sr {
  background: #000000;
}

.my-pagination /deep/ .ngx-pagination>li>a,
.my-pagination /deep/ .ngx-pagination>li>span {
  padding: 10px 15px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ffffff;
  background-color: #00bc8c;
  border: 1px solid transparent;
}

.my-pagination /deep/ .ngx-pagination>li>a:hover,
.my-pagination /deep/ .ngx-pagination>li>span:hover,
.my-pagination /deep/ .ngx-pagination>li>a:focus,
.my-pagination /deep/ .ngx-pagination>li>span:focus {
  color: #ffffff;
  background-color: #00dba3;
  border-color: transparent;
}

.my-pagination /deep/ .ngx-pagination .current {
  background-color: #00dba3;
  padding: 10px 15px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
}

.my-pagination /deep/ .ngx-pagination .disabled,
.my-pagination /deep/ .ngx-pagination .disabled>span,
.my-pagination /deep/ .ngx-pagination .disabled>span:hover {
  cursor: not-allowed;
  background-color: #007053;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  border: 1px solid transparent;
}

.my-pagination /deep/ .ngx-pagination>li:first-child>a,
.my-pagination /deep/ .ngx-pagination>.pagination-previous {
  margin-left: 0;
  margin-right: -7px;
  padding: 10px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.my-pagination /deep/ .ngx-pagination>li:last-child>a,
.my-pagination /deep/ .ngx-pagination>.pagination-next,
.my-pagination /deep/ .ngx-pagination>li:last-child>span {
  margin-left: -3px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.my-pagination /deep/ .ngx-pagination li {
  margin-right: 0;
}

.my-pagination /deep/ .ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next .disabled::after {
  margin-left: 0.5em;
}

</style>
<div class="container-fluid">
  <h4 *ngIf="wishlistItems.length === 0">You have no movies in wishlist. Let's change that!</h4>
  <div class="row">
    <div *ngFor="let item of wishlistItems | paginate: { itemsPerPage:8, currentPage: p }" class="col-xs-6 col-md-4 col-lg-3 movies-row">
      <a routerLink="/detail/{{item.id}}">
        <img class="img-responsive" src="{{item.poster}}" />
      </a>
    </div>
  </div>
  <pagination-controls *ngIf="!(wishlistItems.length === 0)" class="my-pagination" (pageChange)="p =$event"></pagination-controls>
</div>
