<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Upper Left corner -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/movies">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li [routerLinkActive]="['active']"><a routerLink="/movies">Movies</a></li>
        <li *ngIf="auth.isLoggedIn" [routerLinkActive]="['active']"><a routerLink="/wishlist">Wishlist</a></li>
        <li *ngIf="auth.isLoggedIn" [routerLinkActive]="['active']"><a routerLink="/shoppingcart">Cart</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="auth.isLoggedIn"><a class="nav-link" href="#" onclick="return false">Welcome {{auth.username}}!</a>
        </li>
        <li><a class="nav-link" routerLink="/login" href="#">{{ auth.isLoggedIn ? 'Logout' : 'Login(You will have access in more features)' }}</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
