<div id="search-component">
  
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" class="form-control" placeholder="Search">
  
  <ul class="search-result">
    <li *ngFor="let movie of movies$ | async">
      <a routerLink="/detail/{{movie.id}}">
        {{movie.title}}
      </a>
    </li>
  </ul>
</div>
